<h1>Homepage</h1>

<ul>
  <li><a href="/directors">All directors</a></li>
  <li><a href="/movies">All movies</a></li>
  <li><a href="/actors">All actors</a></li>

</ul>

<p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>